*{
    margin: 0;
}

header{
    text-align: center;
    color: black;
    padding: 3vh;
    font-size: 1rem;
    font-weight: 900;border-bottom: 1px solid #d3d6da;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}

.container{
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.greenLetter{
    border: 2px solid #d3d6da;
    height: 62px;
    width: 62px;
    text-align: center;
    font-size: 40px;
}

.search{
    border: 2px solid black;
    border-radius: 5px;
    height: 4vh;
    width: 7vw;
    cursor: pointer;
}

.remaining{
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 500px;
}

.item.letterBoxes{
    flex-direction: row;
    max-width: 90vw;
}

#grey,
#yellow{
    width: 15vw;
    height: 3vh;
    font-size: 2vh;
}

.possibleWord{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    border: 1px solid #d3d6da;
}

input{
    text-transform: lowercase;
}